spring.datasource.driverClassName=
spring.datasource.url=jdbc:postgresql://localhost:5432/
spring.datasource.username=
spring.datasource.password=

jwt_secret=

application.key.id=
application.key=
bucket.id=

spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB