spring.datasource.driverClassName=
spring.datasource.url=jdbc:postgresql://localhost:5432/
spring.datasource.username=
spring.datasource.password=

jwt_secret=

application.key.id=
application.key=
bucket.id=